body {
  background-color: azure;
}


h1 {
    width: 100%; 
    margin: auto;
    padding-top: 5%;
    padding-bottom: 10px;
    font-size: 48px;
    font-style: italic ;
}

 .main-container {
   width: 80%;
  text-align: center;
  margin: auto;
}

#guess{
  margin: auto;
  font-size: 36px;
  margin-bottom: 45px;

}

.image{
  height: 350px;
  width:100%;
  object-fit: fill;
  margin-bottom: 5px;
  background-image: url("../images/headerimage.jpeg");
  background-size: auto;
  /* aspect-ratio: 5/1; */

}